.property-details-wrapper {
  position: absolute;
  width: 100%;
  background: $property-details-bg;
  padding: 0 10px;
  bottom: 0;

  @media (min-width: $breakpoint-tablet) {
    max-width: 180px;
    top: 0;
    right: 0;
    height: 100%;
  }

  .title {
    color: $white;
    background-color: $title-bg;
    margin: 0 -10px;
    padding: 10px;
  }

  .address,
  .council,
  .post {
    margin-bottom: 20px;
  }

  .property-info {
    margin-top: 20px;
  }
}

.close-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  left: 30px;
  cursor: pointer;
}