.filter-container {
  max-width: 160px;
  position: absolute;
  background: $property-details-bg;
  padding: 0 10px;
  top: 0;
  height: 50%;

  @media (min-width: $breakpoint-tablet) {
    top: 10px;
    left: 10px;
    border-radius: 5px;
    overflow-y: scroll;
  }
}

.filter-list {
  margin-bottom: 10px;
  list-style: none;
}

.selector {
  margin-right: 20px;
  cursor: pointer;
  &:before {
    content: "";
    color: black;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid black;
  }
  &.active {
    &:before {
      color: $lc-theme-green;
      border: 1px solid $lc-theme-green;
      background-color: $lc-theme-green;
    }
  }
}

.filter-apply {
  background-color: $btn-primary;
  color: $white;
  &:hover {
    background-color: $lc-theme-green;
  }
}

