header {
  padding: 10px;

  .logo-wrapper,
  .header-options {
    display: inline-block;
  }

  .logo-wrapper {
    max-width: 60%;

    .img-logo {
      max-width: 80%;
    }
  }

  .nav-options {
    float: right;
    margin-top: 4px;
  }
}