body {
  margin: 0;
}

ul {
  padding: 0;
}

.label {
  font-weight: 700;
  margin-right: 10px;
}

.btn {
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}