//Colors
$white: #fff;
$light-black: #35414E;
$light-gray: #f2f2f2;
$dark-gray: #35414e;
$light-blue: #7aa6e8;
$lc-theme-green: #3dc783;

//Variables
$nav-link-color: $light-black;
$property-details-bg: $light-gray;
$title-bg: $dark-gray;
$btn-primary: $light-blue;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;